/*
Api Documentation

Api Documentation

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package atapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SharePositionControllerAPIService SharePositionControllerAPI service
type SharePositionControllerAPIService service

type ApiListPosUsingGETRequest struct {
	ctx context.Context
	ApiService *SharePositionControllerAPIService
	securityIdentifier *string
	securitiesAccountId *string
}

// securityIdentifier
func (r ApiListPosUsingGETRequest) SecurityIdentifier(securityIdentifier string) ApiListPosUsingGETRequest {
	r.securityIdentifier = &securityIdentifier
	return r
}

// securitiesAccountId
func (r ApiListPosUsingGETRequest) SecuritiesAccountId(securitiesAccountId string) ApiListPosUsingGETRequest {
	r.securitiesAccountId = &securitiesAccountId
	return r
}

func (r ApiListPosUsingGETRequest) Execute() ([]SharePositionView, *http.Response, error) {
	return r.ApiService.ListPosUsingGETExecute(r)
}

/*
ListPosUsingGET Lists all positions, from empire without securitiesAccountId

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListPosUsingGETRequest
*/
func (a *SharePositionControllerAPIService) ListPosUsingGET(ctx context.Context) ApiListPosUsingGETRequest {
	return ApiListPosUsingGETRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SharePositionView
func (a *SharePositionControllerAPIService) ListPosUsingGETExecute(r ApiListPosUsingGETRequest) ([]SharePositionView, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SharePositionView
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharePositionControllerAPIService.ListPosUsingGET")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/sharepositions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.securityIdentifier == nil {
		return localVarReturnValue, nil, reportError("securityIdentifier is required and must be specified")
	}

	if r.securitiesAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "securitiesAccountId", r.securitiesAccountId, "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "securityIdentifier", r.securityIdentifier, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
