openapi: 3.0.1
info:
  contact: {}
  description: Api Documentation
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  termsOfService: urn:tos
  title: Api Documentation
  version: "1.0"
servers:
- url: https://stable.alpha-trader.com/
tags:
- description: Achievement Controller
  name: achievement-controller
- description: Alliance Controller
  name: alliance-controller
- description: At Spiel Controller
  name: at-spiel-controller
- description: Bank Account Controller
  name: bank-account-controller
- description: Banking License Controller
  name: banking-license-controller
- description: Bond Controller
  name: bond-controller
- description: Cash Transfer Log Controller
  name: cash-transfer-log-controller
- description: Central Bank Reserves Controller
  name: central-bank-reserves-controller
- description: Chat Controller
  name: chat-controller
- description: Chat Message Controller
  name: chat-message-controller
- description: Company Controller
  name: company-controller
- description: Complaint Controller
  name: complaint-controller
- description: Corporate Action Controller
  name: corporate-action-controller
- description: Derivative Controller
  name: derivative-controller
- description: Empire Controller
  name: empire-controller
- description: Event Controller
  name: event-controller
- description: Help Controller
  name: help-controller
- description: Highscore Controller
  name: highscore-controller
- description: History Controller
  name: history-controller
- description: Index Controller
  name: index-controller
- description: Interest Controller
  name: interest-controller
- description: Interest Tender Controller
  name: interest-tender-controller
- description: Like Controller
  name: like-controller
- description: Listing Controller
  name: listing-controller
- description: Locale Controller
  name: locale-controller
- description: Main Interest Rate Controller
  name: main-interest-rate-controller
- description: Message Board Controller
  name: message-board-controller
- description: Mining Controller
  name: mining-controller
- description: News Controller
  name: news-controller
- description: Notification Controller
  name: notification-controller
- description: Partner Controller
  name: partner-controller
- description: Portfolio Controller
  name: portfolio-controller
- description: Post Controller
  name: post-controller
- description: Price Spread Controller
  name: price-spread-controller
- description: Reset Controller
  name: reset-controller
- description: Salary Controller
  name: salary-controller
- description: Search Controller
  name: search-controller
- description: Securities Account Controller
  name: securities-account-controller
- description: Security Order Controller
  name: security-order-controller
- description: Security Order Log Controller
  name: security-order-log-controller
- description: Security Price Controller
  name: security-price-controller
- description: Share Position Controller
  name: share-position-controller
- description: Sponsoring Controller
  name: sponsoring-controller
- description: Statistics Controller
  name: statistics-controller
- description: Subscription Controller
  name: subscription-controller
- description: System Bond Controller
  name: system-bond-controller
- description: Translation Controller
  name: translation-controller
- description: User Account Controller
  name: user-account-controller
- description: User Preference Controller
  name: user-preference-controller
- description: Voting Controller
  name: voting-controller
paths:
  /api/bankaccounts/:
    get:
      deprecated: true
      operationId: getMyBankAccountV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BankAccountView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns user's bank account
      tags:
      - bank-account-controller
  /api/bankinglicense:
    get:
      deprecated: false
      operationId: getCompanyBankingLicenseUsingGET
      parameters:
      - allowEmptyValue: false
        description: Company id
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BankingLicenseView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns company's banking license
      tags:
      - banking-license-controller
    post:
      deprecated: false
      operationId: createBankingLicenseUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Company id
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BankingLicenseView'
          description: OK
      summary: Create banking license
      tags:
      - banking-license-controller
  /api/bankinglicense/{bankingLicenseId}:
    get:
      deprecated: false
      operationId: getBankingLicenseUsingGET
      parameters:
      - description: Banking License id
        in: path
        name: bankingLicenseId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BankingLicenseView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns banking license
      tags:
      - banking-license-controller
  /api/bonds:
    get:
      deprecated: true
      operationId: listBondsV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BondView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists all bonds (200 max.)
      tags:
      - bond-controller
    post:
      deprecated: false
      operationId: issueBondsUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Company id
        in: query
        name: companyId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Face value
        in: query
        name: faceValue
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Interest Rate in percent to pay at maturity date
        in: query
        name: interestRate
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Maturity date
        in: query
        name: maturityDate
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Number of bonds to emit
        in: query
        name: numberOfBonds
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BondView'
          description: OK
      summary: Issues new corporate bonds
      tags:
      - bond-controller
  /api/bonds/securityidentifier/{securityIdentifier}:
    get:
      deprecated: false
      operationId: getBondBySecIdentUsingGET
      parameters:
      - description: Security Identifier
        in: path
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BondView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns bond by its security identifier
      tags:
      - bond-controller
  /api/bonds/{bondId}:
    get:
      deprecated: false
      operationId: getBondUsingGET
      parameters:
      - description: Bond id
        in: path
        name: bondId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BondView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns bond
      tags:
      - bond-controller
  /api/cashtransferlogs:
    get:
      deprecated: true
      operationId: listLogsV1UsingGET
      parameters:
      - allowEmptyValue: false
        description: End date
        in: query
        name: endDate
        schema:
          type: string
      - allowEmptyValue: false
        description: Receiver's bank account id
        in: query
        name: receiverBankAccountId
        schema:
          type: string
      - allowEmptyValue: false
        description: Sender's bank account id
        in: query
        name: senderBankAccountId
        schema:
          type: string
      - allowEmptyValue: false
        description: Start date
        in: query
        name: startDate
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CashTransferLogEntryView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists cash transfer logs
      tags:
      - cash-transfer-log-controller
  /api/centralbankreserves:
    get:
      deprecated: false
      operationId: getCompanyReservesUsingGET
      parameters:
      - allowEmptyValue: false
        description: Company id
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CentralbankReservesView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns company's reserves
      tags:
      - central-bank-reserves-controller
    put:
      deprecated: false
      operationId: increaseReservesUsingPUT
      parameters:
      - allowEmptyValue: false
        description: Cash amount to increase cash holding
        in: query
        name: cashAmount
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Company id
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CentralbankReservesView'
          description: OK
      summary: Increase central bank reserves
      tags:
      - central-bank-reserves-controller
  /api/centralbankreserves/{reservesId}:
    get:
      deprecated: false
      operationId: getReservesUsingGET
      parameters:
      - description: Reserves id
        in: path
        name: reservesId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CentralbankReservesView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns reserves
      tags:
      - central-bank-reserves-controller
  /api/chatrooms:
    get:
      deprecated: false
      operationId: listPublicChatsUsingGET
      parameters:
      - allowEmptyValue: false
        description: User ID of chat member
        in: query
        name: memberId
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatRoomView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists public chatrooms
      tags:
      - chat-controller
  /api/chats:
    get:
      deprecated: true
      operationId: getMyChatsV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists chats in which logged in user participates
      tags:
      - chat-controller
  /api/chats/adduser/userid:
    put:
      deprecated: true
      operationId: addToChatV1UsingPUT
      parameters:
      - allowEmptyValue: false
        description: Chat id
        in: query
        name: chatId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: User id
        in: query
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
      summary: Adds user to chat
      tags:
      - chat-controller
  /api/chats/adduser/username:
    put:
      deprecated: true
      operationId: addToChatByUsernameUsingPUT
      parameters:
      - allowEmptyValue: false
        description: Chat id
        in: query
        name: chatId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Username
        in: query
        name: username
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
      summary: Adds user to chat
      tags:
      - chat-controller
  /api/chats/quitchat/{chatId}:
    put:
      deprecated: true
      operationId: quitChatUsingPUT
      parameters:
      - description: Chat id
        in: path
        name: chatId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
      summary: Removes logged in user from chat
      tags:
      - chat-controller
  /api/chats/read:
    put:
      deprecated: true
      operationId: markChatAsReadV1UsingPUT
      parameters:
      - allowEmptyValue: false
        description: Chat ID
        in: query
        name: chatId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
      summary: Sets a chat as read by logged in user
      tags:
      - chat-controller
  /api/chats/removeuser:
    put:
      deprecated: true
      operationId: removeFromChatUsingPUT
      parameters:
      - allowEmptyValue: false
        description: Chat id
        in: query
        name: chatId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: User id
        in: query
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
      summary: Removes user from chat
      tags:
      - chat-controller
  /api/chats/unread:
    get:
      deprecated: true
      operationId: getChatsV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompactChatView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns chats with unread messages
      tags:
      - chat-controller
  /api/chats/userids:
    post:
      deprecated: true
      operationId: createChatByIdsUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Chat name
        in: query
        name: chatName
        schema:
          type: string
      - allowEmptyValue: false
        description: Participants user ids
        explode: true
        in: query
        name: "participants[]"
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - allowEmptyValue: false
        description: Readonly
        in: query
        name: readonly
        schema:
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
      summary: Creates a new chat
      tags:
      - chat-controller
  /api/chats/usernames:
    post:
      deprecated: true
      operationId: createChatByNamesUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Chat name
        in: query
        name: chatName
        schema:
          type: string
      - allowEmptyValue: false
        description: Participants usernames
        explode: true
        in: query
        name: "participants[]"
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - allowEmptyValue: false
        description: Readonly
        in: query
        name: readonly
        schema:
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
      summary: Creates a new chat
      tags:
      - chat-controller
  /api/chats/{chatId}:
    delete:
      deprecated: true
      operationId: deleteChatV1UsingDELETE
      parameters:
      - description: Chat id
        in: path
        name: chatId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      summary: Deletes chat
      tags:
      - chat-controller
    get:
      deprecated: true
      operationId: getChatV1UsingGET
      parameters:
      - description: Chat id
        in: path
        name: chatId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns chat
      tags:
      - chat-controller
    put:
      deprecated: true
      operationId: changeChatV1UsingPUT
      parameters:
      - description: Chat id
        in: path
        name: chatId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Chat name
        in: query
        name: chatName
        schema:
          type: string
      - allowEmptyValue: false
        description: Readonly
        in: query
        name: readonly
        schema:
          type: boolean
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
      summary: Changes chat properties
      tags:
      - chat-controller
  /api/cleanusers:
    put:
      deprecated: false
      operationId: cleanusersUsingPUT
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Cleans users
      tags:
      - reset-controller
  /api/codes:
    post:
      deprecated: false
      operationId: genCodesUsingPOST
      parameters:
      - allowEmptyValue: false
        description: days
        in: query
        name: days
        required: true
        schema:
          format: int32
          type: integer
      - allowEmptyValue: false
        description: number
        in: query
        name: number
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Generate codes
      tags:
      - reset-controller
  /api/companies:
    get:
      deprecated: true
      operationId: listMyCompaniesV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists companies controlled by logged in user
      tags:
      - company-controller
    post:
      deprecated: false
      operationId: createCompanyUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Cash deposit amount
        in: query
        name: cashDeposit
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Custom ASIN (premium feature)
        in: query
        name: customAsin
        schema:
          type: string
      - allowEmptyValue: false
        description: Custom number of shares (premium feature)
        in: query
        name: customNumberOfShares
        schema:
          format: int64
          type: integer
      - allowEmptyValue: false
        description: Name
        in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
      summary: Creates listed company
      tags:
      - company-controller
  /api/companies/all/:
    get:
      deprecated: true
      operationId: listAllCompaniesV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists all companies
      tags:
      - company-controller
  /api/companies/ceo/userid/{userId}:
    get:
      deprecated: false
      operationId: listCompaniesByUserIdUsingGET
      parameters:
      - description: Username
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists companies controlled by ceo with user id
      tags:
      - company-controller
  /api/companies/ceo/username/{username}:
    get:
      deprecated: false
      operationId: listCompaniesByUserNameUsingGET
      parameters:
      - description: Username
        in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists companies controlled by ceo with username
      tags:
      - company-controller
  /api/companies/logo/{companyId}:
    delete:
      deprecated: false
      operationId: removeLogoUsingDELETE
      parameters:
      - description: Company id
        in: path
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
      summary: Removes logo
      tags:
      - company-controller
    put:
      deprecated: false
      operationId: addLogoUsingPUT
      parameters:
      - description: Company id
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Logo URL
        in: query
        name: logoUrl
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
      summary: Adds logo to company
      tags:
      - company-controller
  /api/companies/securitiesaccount/{securitiesAccountId}:
    get:
      deprecated: false
      operationId: getCompanyBySecAccIdUsingGET
      parameters:
      - description: Securities account id
        in: path
        name: securitiesAccountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns company by its securities account's id
      tags:
      - company-controller
  /api/companies/securityIdentifier/{securityIdentifier}:
    get:
      deprecated: false
      operationId: getCompanyBySecurityIdentifierUsingGET
      parameters:
      - description: Security Identifier
        in: path
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns company by securityIdentifier
      tags:
      - company-controller
  /api/companies/{companyId}:
    get:
      deprecated: false
      operationId: getCompanyUsingGET
      parameters:
      - description: Company id
        in: path
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns company
      tags:
      - company-controller
  /api/companyprofiles/{companyId}:
    get:
      deprecated: false
      operationId: getCompanyProfileUsingGET
      parameters:
      - description: Company id
        in: path
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyProfileView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns company profile
      tags:
      - company-controller
  /api/complaints:
    post:
      deprecated: false
      operationId: createComplaintUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Subject Matter ID
        in: query
        name: subjectMatterId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Subject Matter Type
        in: query
        name: subjectMatterType
        required: true
        schema:
          enum:
          - COMPANY_LOGO
          - COMPANY_NAME
          - ALLIANCE_LOGO
          - MESSAGE
          - MESSAGE_BOARD
          - POST
          - USER_NAME
          type: string
      - allowEmptyValue: false
        description: Text
        in: query
        name: text
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ComplaintView'
          description: OK
      summary: Opens new complaint
      tags:
      - complaint-controller
  /api/complaints/{complaintId}:
    get:
      deprecated: false
      operationId: getComplaintUsingGET
      parameters:
      - description: Complaint id
        in: path
        name: complaintId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ComplaintView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns complaint
      tags:
      - complaint-controller
  /api/employmentagreements/:
    get:
      deprecated: true
      operationId: getAgreementsV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompanyEmploymentAgreementView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists logged in user's employment agreements
      tags:
      - salary-controller
  /api/employmentagreements/company/{companyId}:
    get:
      deprecated: true
      operationId: getAgreementV1UsingGET
      parameters:
      - description: Company id
        in: path
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmploymentAgreementView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns employment agreement
      tags:
      - salary-controller
  /api/events/:
    get:
      deprecated: false
      operationId: getAllUsingGET
      parameters:
      - allowEmptyValue: false
        description: After date
        in: query
        name: afterDate
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Event'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: "Returns all nonpersistent events (20000 max, optional: after date)"
      tags:
      - event-controller
  /api/events/user/:
    get:
      deprecated: false
      operationId: getMyEventsUsingGET
      parameters:
      - allowEmptyValue: false
        description: After date
        in: query
        name: afterDate
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Event'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: "Returns all nonpersistent events fore current user (20000 max, optional:\
        \ after date)"
      tags:
      - event-controller
  /api/initiatedpolls/:
    get:
      deprecated: true
      operationId: getPollsV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbstractPollView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns logged in user's initiated polls
      tags:
      - voting-controller
  /api/listingprofiles/{securityIdentifier}:
    get:
      deprecated: true
      operationId: getProfileV1UsingGET
      parameters:
      - allowEmptyValue: false
        description: Shareholder's securities account id
        in: query
        name: securitiesAccountId
        schema:
          type: string
      - description: Security identifier
        in: path
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingProfileView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Gets listing profile
      tags:
      - listing-controller
  /api/listings/:
    get:
      deprecated: true
      operationId: listListingsV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists all listings without end date (200 max.)
      tags:
      - listing-controller
  /api/listings/outstandingshares/{securityIdentifier}:
    get:
      deprecated: false
      operationId: getOutstandingSharesUsingGET
      parameters:
      - description: Security Identifier
        in: path
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                format: int64
                type: integer
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns Outstanding Shares
      tags:
      - listing-controller
  /api/listings/{securityIdentifier}:
    get:
      deprecated: false
      operationId: getListingUsingGET
      parameters:
      - description: Security Identifier
        in: path
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns listing
      tags:
      - listing-controller
  /api/locale:
    get:
      deprecated: false
      operationId: getMyLocaleUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns logged in user's locale
      tags:
      - locale-controller
    put:
      deprecated: false
      operationId: setMyLocaleUsingPUT
      parameters:
      - allowEmptyValue: false
        description: Locale
        in: query
        name: locale
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Sets logged in user's locale
      tags:
      - locale-controller
  /api/locales:
    get:
      deprecated: false
      operationId: getLocalesUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  type: string
                type: array
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists available locales
      tags:
      - locale-controller
  /api/mail:
    post:
      deprecated: false
      operationId: sendMailUsingPOST
      parameters:
      - allowEmptyValue: false
        description: locale
        in: query
        name: locale
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: subject
        in: query
        name: subject
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: htmlContent
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Sends mail
      tags:
      - reset-controller
      x-codegen-request-body-name: htmlContent
  /api/maininterestrate/:
    get:
      deprecated: false
      operationId: listRatesUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MainInterestRateView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists main interest rates  in percent
      tags:
      - main-interest-rate-controller
  /api/maininterestrate/latest/:
    get:
      deprecated: false
      operationId: getLatestRateUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MainInterestRateView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns latest main interest rate in percent
      tags:
      - main-interest-rate-controller
  /api/marketstatistics/:
    get:
      deprecated: false
      operationId: listHourlyStatisticsUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MarketStatsSnapshot'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists latest hourly market statistics (2400 max)
      tags:
      - statistics-controller
  /api/messages:
    post:
      deprecated: true
      operationId: sendMessageV1UsingPOST
      parameters:
      - allowEmptyValue: false
        description: ID of the chat group
        in: query
        name: chatId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Content
        in: query
        name: content
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageView'
          description: OK
      summary: Sends a new message
      tags:
      - chat-message-controller
  /api/messages/chat/{chatId}:
    get:
      deprecated: true
      operationId: getMessagesOfChatV1UsingGET
      parameters:
      - allowEmptyValue: false
        description: After date
        in: query
        name: afterDate
        schema:
          format: int64
          type: integer
      - allowEmptyValue: false
        description: Before date
        in: query
        name: beforeDate
        schema:
          format: int64
          type: integer
      - description: Chat id
        in: path
        name: chatId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns messages of chat
      tags:
      - chat-message-controller
  /api/messages/read:
    put:
      deprecated: true
      operationId: updateMessageReadV1UsingPUT
      parameters:
      - allowEmptyValue: false
        description: Message ID
        in: query
        name: messageId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageView'
          description: OK
      summary: Sets a message as read by logged in user
      tags:
      - chat-message-controller
  /api/messages/unread:
    get:
      deprecated: true
      operationId: getUnreadMessagesV1UsingGET
      parameters:
      - allowEmptyValue: false
        description: ID of the chat group
        in: query
        name: chatId
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns unread messages
      tags:
      - chat-message-controller
  /api/messages/{messageId}:
    delete:
      deprecated: true
      operationId: deleteMessageV1UsingDELETE
      parameters:
      - description: Message id
        in: path
        name: messageId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Deletes message
      tags:
      - chat-message-controller
    get:
      deprecated: true
      operationId: getMessageV1UsingGET
      parameters:
      - description: Message id
        in: path
        name: messageId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns mesage
      tags:
      - chat-message-controller
  /api/multisearch/{searchString}:
    get:
      deprecated: false
      operationId: multiSearchUsingGET
      parameters:
      - description: Search string
        in: path
        name: searchString
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SearchResult'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Search for multiple entities
      tags:
      - search-controller
  /api/notifications:
    get:
      deprecated: true
      operationId: getMyNotificationsV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NotificationView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists notifications for logged in user
      tags:
      - notification-controller
  /api/notifications/read/:
    put:
      deprecated: true
      operationId: markNotificationsAsReadUsingPUT
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Marks all notifications for logged in user as read
      tags:
      - notification-controller
  /api/notifications/unread/:
    get:
      deprecated: true
      operationId: getMyUnreadNotificationsUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/NotificationView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists unread notifications for logged in user
      tags:
      - notification-controller
  /api/orderbook/{securityIdentifier}:
    get:
      deprecated: false
      operationId: getOrderbookUsingGET
      parameters:
      - description: Security identifier
        in: path
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderBook'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns orderbook of security
      tags:
      - security-order-controller
  /api/partners/:
    get:
      deprecated: false
      operationId: listPartnersUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsernameView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists partners
      tags:
      - partner-controller
  /api/partners/register:
    put:
      deprecated: false
      operationId: registerAsPartnerUsingPUT
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserAccountView'
          description: OK
      summary: Registers logged in user as partner with new partner id
      tags:
      - partner-controller
  /api/polls:
    get:
      deprecated: false
      operationId: getAllPollsUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbstractPollView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns all polls
      tags:
      - voting-controller
  /api/polls/cashout:
    post:
      deprecated: false
      operationId: initiateCashOutPollUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Company id
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShareholderYesNoPollView'
          description: OK
      summary: Initiate cash out poll
      tags:
      - voting-controller
  /api/polls/employceo:
    post:
      deprecated: true
      operationId: initiateEmployCeoPollV1UsingPOST
      parameters:
      - allowEmptyValue: false
        description: Company id
        in: query
        name: companyId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Requested daily wage
        in: query
        name: dailyWage
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmployCeoPollView'
          description: OK
      summary: Initiate employ CEO poll
      tags:
      - voting-controller
  /api/polls/execute/{pollId}:
    post:
      deprecated: true
      operationId: executeVoteResultV1UsingPOST
      parameters:
      - description: Poll id
        in: path
        name: pollId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Executes poll result
      tags:
      - voting-controller
  /api/polls/liquidation:
    post:
      deprecated: true
      operationId: initiateLiquidationPollV1UsingPOST
      parameters:
      - allowEmptyValue: false
        description: Company id
        in: query
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShareholderYesNoPollView'
          description: OK
      summary: Initiate liquidation poll
      tags:
      - voting-controller
  /api/polls/{pollId}:
    delete:
      deprecated: true
      operationId: deletePollV1UsingDELETE
      parameters:
      - description: Poll id
        in: path
        name: pollId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Deletes poll
      tags:
      - voting-controller
    get:
      deprecated: true
      operationId: getPollV1UsingGET
      parameters:
      - description: Poll id
        in: path
        name: pollId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbstractPollView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns poll
      tags:
      - voting-controller
    post:
      deprecated: true
      operationId: castVoteV1UsingPOST
      parameters:
      - description: Poll id
        in: path
        name: pollId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Number of voices
        in: query
        name: voices
        required: true
        schema:
          format: int64
          type: integer
      - allowEmptyValue: false
        description: Voting type
        in: query
        name: votingType
        required: true
        schema:
          enum:
          - "YES"
          - "NO"
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AbstractPollView'
          description: OK
      summary: Casts a vote
      tags:
      - voting-controller
  /api/portfolios/fixedincome/{securitiesAccountId}:
    get:
      deprecated: false
      operationId: getPortfolioFixedIncomeSecuritiesUsingGET
      parameters:
      - description: Securities account id
        in: path
        name: securitiesAccountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FixedIncomeSecurityView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns fixed income securities in portfolio
      tags:
      - portfolio-controller
  /api/portfolios/{securitiesAccountId}:
    get:
      deprecated: false
      operationId: getPortfolioUsingGET
      parameters:
      - description: Securities account id
        in: path
        name: securitiesAccountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PortfolioView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns portfolio view of securities account
      tags:
      - portfolio-controller
  /api/pricespreads/:
    get:
      deprecated: true
      operationId: listSpreadsV1UsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PriceSpreadListingView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists all price spreads
      tags:
      - price-spread-controller
  /api/pricespreads/{securityIdentifier}:
    get:
      deprecated: false
      operationId: getSpreadUsingGET
      parameters:
      - description: Security identifier
        in: path
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PriceSpreadListingView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns price spread
      tags:
      - price-spread-controller
  /api/reset/:
    put:
      deprecated: false
      operationId: resetUsingPUT
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Resets the market
      tags:
      - reset-controller
  /api/reset/removeusersfromchat:
    put:
      deprecated: false
      operationId: removeFromChatInBatchUsingPUT
      parameters:
      - allowEmptyValue: false
        description: Chat id
        in: query
        name: chatId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Namepart
        in: query
        name: namepart
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChatView'
          description: OK
      summary: "Removes users from chat, 300 in one run max"
      tags:
      - reset-controller
  /api/reset/usertoken:
    get:
      deprecated: false
      operationId: getJwtTokenUsingGET
      parameters:
      - allowEmptyValue: false
        description: Username
        in: query
        name: username
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns User's JWT Token
      tags:
      - reset-controller
  /api/salarypayments/company/{companyId}:
    post:
      deprecated: true
      operationId: payCeoUsingPOST
      parameters:
      - description: Company id
        in: path
        name: companyId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SalaryPaymentView'
          description: OK
      summary: Pays CEO
      tags:
      - salary-controller
  /api/salarypayments/{paymentId}:
    get:
      deprecated: false
      operationId: getPaymentUsingGET
      parameters:
      - description: Payment id
        in: path
        name: paymentId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SalaryPaymentView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns payment
      tags:
      - salary-controller
  /api/search/companies/{namePart}:
    get:
      deprecated: false
      operationId: searchCompaniesUsingGET
      parameters:
      - description: Name part
        in: path
        name: namePart
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CompactCompanyView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Finds companies by name part
      tags:
      - company-controller
  /api/search/events/:
    get:
      deprecated: false
      operationId: findEventsByRealmsUsingGET
      parameters:
      - allowEmptyValue: false
        description: After date
        in: query
        name: afterDate
        schema:
          format: int64
          type: integer
      - allowEmptyValue: false
        description: Realms
        explode: true
        in: query
        name: "realms[]"
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Event'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: "Finds nonpersistent events by realms (optional: after date)"
      tags:
      - event-controller
  /api/search/events/type/{eventType}:
    get:
      deprecated: false
      operationId: findEventsByEventTypeUsingGET
      parameters:
      - allowEmptyValue: false
        description: After date
        in: query
        name: afterDate
        schema:
          format: int64
          type: integer
      - description: Event type
        in: path
        name: eventType
        required: true
        schema:
          enum:
          - NEW_USER
          - NEW_SECURITY
          - NEW_COMPANY
          - NEW_BOND
          - COMPANY_LIQUIDATED
          - SECURITY_TRADED
          - ORDER_ACCEPTED
          - ORDER_DELETED
          - ORDER_FILLED
          - LIQUIDATION_POLL_INITIATED
          - CASH_OUT_POLL_INITIATED
          - EMPLOY_CEO_POLL_INITIATED
          - COMPANY_NAME_CHANGE_POLL_INITIATED
          - SALARY_PAYMENT
          - CEO_DISMISSED
          - CEO_RESIGNED
          - SYSTEM_STARTED
          - FIXED_INCOME_REPAID
          - CAPITAL_INCREASE_POLL_INITIATED
          - CAPITAL_REDUCTION_POLL_INITIATED
          - DIVIDEND_PAYMENT_POLL_INITIATED
          - MERGER_POLL_INITIATED
          type: string
      - allowEmptyValue: false
        description: Realms
        explode: true
        in: query
        name: "realms[]"
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Event'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: "Finds nonpersistent events by event type  (optional: after date, realms)"
      tags:
      - event-controller
  /api/search/events/{fullTextPart}:
    get:
      deprecated: false
      operationId: findEventsByFullTextUsingGET
      parameters:
      - allowEmptyValue: false
        description: After date
        in: query
        name: afterDate
        schema:
          format: int64
          type: integer
      - description: Part of the event full-text representation
        in: path
        name: fullTextPart
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Event'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: "Finds nonpersistent events by full-text search (optional: after date)"
      tags:
      - event-controller
  /api/search/listings/:
    get:
      deprecated: false
      operationId: findListingsByAsinUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Finds listing by part of their security identifiers
      tags:
      - listing-controller
  /api/search/listings/{securityIdentifierPart}:
    get:
      deprecated: false
      operationId: findListingsByAsinPartUsingGET
      parameters:
      - description: Part of security identifier
        in: path
        name: securityIdentifierPart
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListingView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Finds listing by part of their security identifiers
      tags:
      - listing-controller
  /api/search/users/{namePart}:
    get:
      deprecated: false
      operationId: findUserUsingGET
      parameters:
      - description: Part of user name
        in: path
        name: namePart
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsernameView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Finds users by part of their usernames
      tags:
      - user-account-controller
  /api/securityPrices:
    get:
      deprecated: false
      operationId: listPricesUsingGET
      parameters:
      - allowEmptyValue: false
        description: End date
        in: query
        name: endDate
        schema:
          type: string
      - allowEmptyValue: false
        description: Security identifier
        in: query
        name: securityIdentifier
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Start date
        in: query
        name: startDate
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SecurityPriceView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists all prices for security identified by security identifier
      tags:
      - security-price-controller
  /api/securityorderlogs:
    get:
      deprecated: false
      operationId: liLoSecuIdentUsingGET
      parameters:
      - allowEmptyValue: false
        description: Buyer's securities account id
        in: query
        name: buyerSecuritiesAccountId
        schema:
          type: string
      - allowEmptyValue: false
        description: End date
        in: query
        name: endDate
        schema:
          type: string
      - allowEmptyValue: false
        description: Security identifier
        in: query
        name: securityIdentifier
        schema:
          type: string
      - allowEmptyValue: false
        description: Seller's securities account id
        in: query
        name: sellerSecuritiesAccountId
        schema:
          type: string
      - allowEmptyValue: false
        description: Start date
        in: query
        name: startDate
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SecurityOrderLogEntryView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists security order log entries for trades of securities identified
        by security identifier
      tags:
      - security-order-log-controller
  /api/securityorders:
    delete:
      deprecated: false
      operationId: deleteOrdersUsingDELETE
      parameters:
      - allowEmptyValue: false
        description: Orders created before
        in: query
        name: createdBefore
        schema:
          type: string
      - allowEmptyValue: false
        description: ID of securities account
        in: query
        name: owner
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Deletes all orders
      tags:
      - security-order-controller
    post:
      deprecated: false
      description: Adds a new order to the order book of the security identified by
        securityIdentifier. It belongs to the owning securities account. A market
        order needs no price limit. The id of a security account of a counterparty
        can be submitted for OTC deals.
      operationId: addOrderUsingPOST
      parameters:
      - allowEmptyValue: false
        description: SecurityOrder action
        in: query
        name: action
        required: true
        schema:
          enum:
          - SELL
          - BUY
          type: string
      - allowEmptyValue: false
        description: Check Order without execution
        in: query
        name: checkOrderOnly
        schema:
          type: boolean
      - allowEmptyValue: false
        description: OTC counterparty's securities account
        in: query
        name: counterparty
        schema:
          type: string
      - allowEmptyValue: false
        description: Good after date (premium feature)
        in: query
        name: goodAfterDate
        schema:
          format: int64
          type: integer
      - allowEmptyValue: false
        description: Good till date (premium feature)
        in: query
        name: goodTillDate
        schema:
          format: int64
          type: integer
      - allowEmptyValue: false
        description: Hourly change
        in: query
        name: hourlyChange
        schema:
          type: string
      - allowEmptyValue: false
        description: Number of shares
        in: query
        name: numberOfShares
        required: true
        schema:
          format: int64
          type: integer
      - allowEmptyValue: false
        description: ID of securities account
        in: query
        name: owner
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Price
        in: query
        name: price
        schema:
          type: string
      - allowEmptyValue: false
        description: Security identifier
        in: query
        name: securityIdentifier
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: SecurityOrder type
        in: query
        name: type
        required: true
        schema:
          enum:
          - MARKET
          - LIMIT
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SecurityOrder'
          description: OK
      summary: Adds a new security order
      tags:
      - security-order-controller
  /api/securityorders/check/:
    get:
      deprecated: true
      operationId: checkOrderUsingGET
      parameters:
      - allowEmptyValue: false
        description: SecurityOrder action
        in: query
        name: action
        required: true
        schema:
          enum:
          - SELL
          - BUY
          type: string
      - allowEmptyValue: false
        description: Number of shares
        in: query
        name: numberOfShares
        schema:
          format: int64
          type: integer
      - allowEmptyValue: false
        description: ID of securities account
        in: query
        name: owner
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Price
        in: query
        name: price
        schema:
          type: string
      - allowEmptyValue: false
        description: Security identifier
        in: query
        name: securityIdentifier
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: SecurityOrder type
        in: query
        name: type
        required: true
        schema:
          enum:
          - MARKET
          - LIMIT
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrderCheck'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: "Checks Security Order for Acceptance (DEPRECATED: Use addOrder with\
        \ checkOrder = true)"
      tags:
      - security-order-controller
  /api/securityorders/counterparty/{securitiesAccountId}:
    get:
      deprecated: false
      operationId: getCounterOtcOrdersUsingGET
      parameters:
      - description: Securities account id
        in: path
        name: securitiesAccountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/SecurityOrder'
                type: array
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists unfilled counter otc orders for securities account
      tags:
      - security-order-controller
  /api/securityorders/securitiesaccount/{securitiesAccountId}:
    get:
      deprecated: false
      operationId: getOwnedOrdersUsingGET
      parameters:
      - description: Securities account id
        in: path
        name: securitiesAccountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/SecurityOrder'
                type: array
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists unfilled orders owned by securities account
      tags:
      - security-order-controller
  /api/securityorders/{orderId}:
    delete:
      deprecated: false
      operationId: deleteOrderUsingDELETE
      parameters:
      - description: SecurityOrder id
        in: path
        name: orderId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Deletes a single order
      tags:
      - security-order-controller
    get:
      deprecated: false
      operationId: getOrderUsingGET
      parameters:
      - description: SecurityOrder id
        in: path
        name: orderId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SecurityOrder'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns a single order
      tags:
      - security-order-controller
  /api/shareholders/{securityIdentifier}:
    get:
      deprecated: false
      operationId: searchListingsUsingGET
      parameters:
      - description: Security Identifier
        in: path
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShareholderView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists Shareholders
      tags:
      - listing-controller
  /api/systembonds:
    get:
      deprecated: false
      operationId: listsBondsUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BondView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists all bonds
      tags:
      - system-bond-controller
    post:
      deprecated: false
      operationId: issueSystemBondsUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Company id
        in: query
        name: companyId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Number of bonds to emit
        in: query
        name: numberOfBonds
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SystemBondView'
          description: OK
      summary: Issues new bonds to be bought by the central bank at the current main
        interest rate
      tags:
      - system-bond-controller
  /api/systembonds/securityidentifier/{securityIdentifier}:
    get:
      deprecated: false
      operationId: getSystemBondBySecIdentUsingGET
      parameters:
      - description: Security Identifier
        in: path
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SystemBondView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns bond by its security identifier
      tags:
      - system-bond-controller
  /api/systembonds/{bondId}:
    get:
      deprecated: false
      operationId: getSystemBondUsingGET
      parameters:
      - description: System bond id
        in: path
        name: bondId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SystemBondView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns system bond
      tags:
      - system-bond-controller
  /api/testmail:
    post:
      deprecated: false
      operationId: sendTestMailUsingPOST
      parameters:
      - allowEmptyValue: false
        description: emailAddress
        in: query
        name: emailAddress
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: subject
        in: query
        name: subject
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        description: htmlContent
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Sends test mail
      tags:
      - reset-controller
      x-codegen-request-body-name: htmlContent
    put:
      deprecated: false
      operationId: testmailUsingPUT
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Sends test mail
      tags:
      - reset-controller
  /api/testusers:
    delete:
      deprecated: false
      operationId: deleteTestusersUsingDELETE
      parameters:
      - allowEmptyValue: false
        description: numberOfUsers
        in: query
        name: numberOfUsers
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Deletes test users
      tags:
      - reset-controller
  /api/unsubscribe:
    put:
      deprecated: false
      operationId: unsubscribeEmailUsingPUT
      parameters:
      - allowEmptyValue: false
        description: emailAddress
        in: query
        name: emailAdress
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Unsubscribe email
      tags:
      - reset-controller
  /api/user:
    get:
      deprecated: false
      operationId: getLoggedInUserAccountUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserAccountView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns the logged in user
      tags:
      - user-account-controller
  /api/userprofiles/{username}:
    get:
      deprecated: false
      operationId: getUserProfileUsingGET
      parameters:
      - description: Username
        in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserProfileView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns user profile
      tags:
      - user-account-controller
  /api/users:
    get:
      deprecated: true
      operationId: getUsersUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsernameView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists users
      tags:
      - user-account-controller
  /api/users/refId/{refId}:
    get:
      deprecated: false
      operationId: getUserAccountByRefIdUsingGET
      parameters:
      - description: Ref ID
        in: path
        name: refId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsernameView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: 'Returns user by his/her referral ID '
      tags:
      - user-account-controller
  /api/users/username/{username}:
    get:
      deprecated: false
      operationId: getUserAccountByUsernameUsingGET
      parameters:
      - description: Username
        in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsernameView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns user
      tags:
      - user-account-controller
  /api/users/{userId}:
    get:
      deprecated: false
      operationId: getUserAccountUsingGET
      parameters:
      - description: User id
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UsernameView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns the user
      tags:
      - user-account-controller
  /api/v2/allianceachievementprogress/{allianceId}:
    get:
      deprecated: false
      operationId: getOpenAllianceAchievementsUsingGET
      parameters:
      - description: Alliance ID
        in: path
        name: allianceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllianceAchievementProgressView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns alliance's progress of not yet reached achievements
      tags:
      - achievement-controller
  /api/v2/allianceachievements/{allianceID}:
    get:
      deprecated: false
      operationId: getAllianceAchievementsUsingGET
      parameters:
      - description: Alliance ID
        in: path
        name: allianceID
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllianceAchievementView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns alliance's achievements
      tags:
      - achievement-controller
  /api/v2/alliancehighscores:
    get:
      deprecated: false
      operationId: getAllianceHighscoresUsingGET
      parameters:
      - allowEmptyValue: false
        description: Highscore Type
        in: query
        name: highscoreType
        required: true
        schema:
          enum:
          - BOOK_VALUE
          - NET_CASH
          - RESERVES
          - CASH_FLOW
          - TRADES
          - ACHIEVEMENTS
          - BUILDING
          - MINER
          - CHAT_MESSAGES
          - ONLINE_TIME
          type: string
      - description: Results page you want to retrieve (0..N)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of records per page
        in: query
        name: size
        schema:
          format: int32
          type: integer
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Page«AllianceHighscoreEntryView»'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: List alliance highscore entries
      tags:
      - highscore-controller
  /api/v2/alliancememberships:
    delete:
      deprecated: false
      operationId: removeAllianceMembershipOfAllianceUsingDELETE
      parameters:
      - allowEmptyValue: false
        description: Alliance Id
        in: query
        name: allianceId
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Removes alliance membership
      tags:
      - alliance-controller
    get:
      deprecated: false
      operationId: getAllianceMembershipsUsingGET
      parameters:
      - allowEmptyValue: false
        description: Alliance id
        in: query
        name: allianceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllianceMembershipView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists memberships of alliance
      tags:
      - alliance-controller
    post:
      deprecated: false
      operationId: addToAllianceUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Alliance id
        in: query
        name: allianceId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Role
        in: query
        name: role
        required: true
        schema:
          enum:
          - MEMBER
          - PRESS_OFFICER
          - DEPUTY
          - OWNER
          type: string
      - allowEmptyValue: false
        description: User id
        in: query
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllianceMembershipView'
          description: OK
      summary: Adds user to alliance
      tags:
      - alliance-controller
  /api/v2/alliancememberships/username:
    get:
      deprecated: false
      operationId: getUserAllianceMembershipUsingGET
      parameters:
      - allowEmptyValue: false
        description: Username
        in: query
        name: username
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllianceMembershipView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns user's alliance membership
      tags:
      - alliance-controller
  /api/v2/alliancememberships/{membershipId}:
    delete:
      deprecated: false
      operationId: removeAllianceMembershipUsingDELETE
      parameters:
      - description: Membership id
        in: path
        name: membershipId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Removes alliance membership
      tags:
      - alliance-controller
    get:
      deprecated: false
      operationId: returnAllianceMembershipUsingGET
      parameters:
      - description: Membership id
        in: path
        name: membershipId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllianceMembershipView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Return alliance membership
      tags:
      - alliance-controller
    put:
      deprecated: false
      operationId: changeAllianceMembershipUsingPUT
      parameters:
      - description: Membership id
        in: path
        name: membershipId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Role
        in: query
        name: role
        schema:
          enum:
          - MEMBER
          - PRESS_OFFICER
          - DEPUTY
          - OWNER
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllianceMembershipView'
          description: OK
      summary: Change alliance membership
      tags:
      - alliance-controller
  /api/v2/alliances:
    get:
      deprecated: false
      operationId: listAlliancesUsingGET
      parameters:
      - description: Results page you want to retrieve (0..N)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of records per page
        in: query
        name: size
        schema:
          format: int32
          type: integer
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Page«AllianceWithDetailsView»'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists alliances
      tags:
      - alliance-controller
    post:
      deprecated: false
      operationId: createAllianceUsingPOST
      parameters:
      - allowEmptyValue: false
        description: Description
        in: query
        name: description
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Locale
        in: query
        name: locale
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Logo URL
        in: query
        name: logoUrl
        schema:
          type: string
      - allowEmptyValue: false
        description: Name
        in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllianceView'
          description: OK
      summary: Creates alliance
      tags:
      - alliance-controller
  /api/v2/alliances/{allianceId}:
    delete:
      deprecated: false
      operationId: deleteAllianceUsingDELETE
      parameters:
      - description: Alliance id
        in: path
        name: allianceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
      summary: Deletes alliance
      tags:
      - alliance-controller
    get:
      deprecated: false
      operationId: getAllianceUsingGET
      parameters:
      - description: Message alliance id
        in: path
        name: allianceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns alliance
      tags:
      - alliance-controller
    put:
      deprecated: false
      operationId: editAllianceUsingPUT
      parameters:
      - description: Alliance id
        in: path
        name: allianceId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Description
        in: query
        name: description
        schema:
          type: string
      - allowEmptyValue: false
        description: Locale
        in: query
        name: locale
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Logo URL
        in: query
        name: logoUrl
        schema:
          type: string
      - allowEmptyValue: false
        description: Name
        in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AllianceView'
          description: OK
      summary: Changes alliance
      tags:
      - alliance-controller
  /api/v2/alliances/{allianceId}/news:
    get:
      deprecated: false
      description: Sorted descending by dateCreated as default
      operationId: listAlliancesNewsUsingGET
      parameters:
      - description: allianceId
        in: path
        name: allianceId
        required: true
        schema:
          type: string
      - description: Results page you want to retrieve (0..N)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of records per page
        in: query
        name: size
        schema:
          format: int32
          type: integer
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Page«PostView»'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists alliance's news
      tags:
      - news-controller
  /api/v2/authors/{userId}/news:
    get:
      deprecated: false
      description: Sorted descending by dateCreated as default
      operationId: listAuthorsNewsUsingGET
      parameters:
      - description: Results page you want to retrieve (0..N)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of records per page
        in: query
        name: size
        schema:
          format: int32
          type: integer
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      - description: userId
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Page«PostView»'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists author's news
      tags:
      - news-controller
  /api/v2/averagebondinterestrate:
    get:
      deprecated: false
      operationId: listAverageRatesUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AverageDailyBondInterestRateView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Lists average daily bond interest rates in percent
      tags:
      - main-interest-rate-controller
  /api/v2/averagebuyingprice:
    get:
      deprecated: false
      operationId: calculateAverageBuyingPriceUsingGET
      parameters:
      - allowEmptyValue: false
        description: Securities account id
        in: query
        name: securitiesAccountId
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Security Identifier
        in: query
        name: securityIdentifier
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: number
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns the average buying price based on security log entries
      tags:
      - security-order-log-controller
  /api/v2/bankaccounts/{bankAccountId}:
    get:
      deprecated: false
      operationId: getBankAccountUsingGET
      parameters:
      - description: Bank account id
        in: path
        name: bankAccountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BankAccountView'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: Returns bank account
      tags:
      - bank-account-controller
  /api/v2/banktransfer/{senderBankAccountId}:
    put:
      deprecated: false
      operationId: sendMoneyUsingPUT
      parameters:
      - allowEmptyValue: false
        description: Cash amount
        in: query
        name: cashAmount
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: Receiver bank account id
        in: query
        name: receiverBankAccountId
        required: true
        schema:
          type: string
      - description: Sender bank account id
        in: path
        name: senderBankAccountId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessagePrototype'
          description: OK
      summary: Bank transfer
      tags:
      - bank-account-controller
  /api/v2/bestalliances:
    get:
      deprecated: false
      operationId: getBestAlliancesUsingGET
      parameters:
      - description: Results page you want to retrieve (0..N)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of records per page
        in: query
        name: size
        schema:
          format: int32
          type: integer
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Page«AllianceView»'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: List best alliances (combining all alliance highscores)
      tags:
      - highscore-controller
  /api/v2/bestcompanies:
    get:
      deprecated: false
      operationId: getBestCompaniesUsingGET
      parameters:
      - description: Results page you want to retrieve (0..N)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of records per page
        in: query
        name: size
        schema:
          format: int32
          type: integer
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Page«CompanyView»'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: List best companies (combining all company highscores)
      tags:
      - highscore-controller
  /api/v2/bestusers:
    get:
      deprecated: false
      operationId: getBestUsersUsingGET
      parameters:
      - description: Results page you want to retrieve (0..N)
        in: query
        name: page
        schema:
          format: int32
          type: integer
      - description: Number of records per page
        in: query
        name: size
        schema:
          format: int32
          type: integer
      - description: "Sorting criteria in the format: property(,asc|desc). Default\
          \ sort order is ascending. Multiple sort criteria are supported."
        explode: true
        in: query
        name: sort
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Page«UsernameView»'
          description: OK
        "500":
          content: {}
          description: 500 message
      summary: List best users (combining all user highscores)
      tags:
      - highscore-controller
  /api/v2/biggesttradedsecurities:
[...]
